h1{
    text-align: center;
}
body{
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-around;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color : black;
}

@media (max-width: 500px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  section {
    padding: 20px;
  }
}